@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root{
    --primary-color : #047aed;
    --secondary-color : #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --grey-color: rgb(167, 165, 165);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    color: #333;
}
a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style: none;
}
h1, h2{
    font-weight: 300;
    line-height: 1.2px;
    margin: 10px 0;
}
input[type='text'], input[type='email']{
    height: 40px;
    width: 350px;
    border: 1px solid rgb(167, 165, 165);
    padding: 5px;
    font-size: 15px;
}
/* Navbar */
.navbar{
    color: #fff;
    height: 70px;
}
.navbar .container{
    justify-content: space-between;
}
.navbar a{
    color: var(--light-color);
    line-height: 1.5px;
    padding: 10px 0;
}
.navbar a:hover, .active{
    border-bottom: 1.9px solid var(--light-color);
}
.navbar ul{
    display: flex;
    gap: 30px;
}
/* Showcase */
.showcase{
    padding: 30px 30px;
}
.showcase .institution-name{
    font-size: 40px;
    padding: 10px 0;
    color: var(--primary-color);
}
.showcase h2{
    padding-top: 10px;
}
.showcase .card{
    height: 70px;
    padding: 10px 5px;
    justify-content: space-around;
}
.showcase .card h3{
    font-size: 30px;
}
.showcase .secondary-text{
    font-size: 15px;
}
/* Formcase */
.formcase{
    height: 100%;
    width: 100%;
}
.formcase .card{
    height: 100%;
    width: 100%;
    padding: 30px 30px;
    justify-content: flex-start;
}
.form-control{
    width: 100%;
}
.formcase .form-control .input-control{
    margin-top: 10px;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
}
.formcase .form-control> *:last-child{
    justify-content: flex-end;
}
.form-control input[type='text']:focus, .form-control input[type='email']:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary-color);
}
/* Main Window */
.sidebar{
    position: absolute;
    top: 70px;
    left: 0;
    height: 100%;
    width: 250px;
}
.sidebar li{
    width: 250px;
}
.sidebar a{
    color: var(--light-color);
    width: 100%;
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
}
.sidebar button{
    width: 100%;
    padding: 10px 10px;
    text-align: left;
    background-color:  inherit;
    outline: none;
    border: none;
    color: var(--light-color);
    font-size: 15px;
    margin-right: 20px;
}
.sidebar button:hover{
    background-color: var(--light-color);
    color: var(--primary-color);
    cursor: pointer
}
.sidebar a:hover{
    background-color: var(--light-color);
    color: var(--primary-color);
    cursor: pointer;
}
.sidebar a .activity{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.work-area{
    position: absolute;
    top: 70px;
    left: 250px;
    right: 0px;
    width: 80%;
    display: inline-block;
    height: 100%;
}

.tab .card{
    width: 100%;
    height: 70px;
    align-content: center;
    border-radius: 0;
}
.tab .btn{
    border-radius: 0;
}
.tab h3{
    color: var(--secondary-color);
}
.tab .stats-heading{
    color: var(--grey-color);
}
.labels{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 10px;
    text-align: left;
}
.work-area .labels-6{
    display: grid;

    grid-template-columns: auto auto auto auto auto auto;
    padding-left: 10px;
    text-align: left;
}
.work-area .labels .lbl-hld{
    text-align: left;
    color: var(--grey-color);
}
#doctors, #services, #buildings{
    display: none;
}
/* Popup Modal */
.bg-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-content{
    position: relative;
    width: fit-content;
    border-radius: 5px;
    box-shadow: -1px 0px 20px 20px rgba(0, 0, 0, 0.2);

}
#services-mc, #doctors-mc, #buildings-mc, #schedules-mc{
    display: none;
}
#schedules-mc{
    height: 300px;
    width: 800px;
}
#patients-mc, #doctors-mc{
    height: 500px;
    width: 800px;
}
#patients-mc input, #buildings-mc input{
    width: 700px;
}
#services-mc .mini{
    width: 450px;
    gap: 20px;
}
#services-mc .midi, #doctors-mc .midi{
    width: 700px;
    gap: 20px;
}
#services-mc .unt-hld{
    height: 150px;
    width: 100%;
    border: 1px solid var(--primary-color);
    overflow: scroll;
}
.modal-content .topbar{
    width: 100%;
    padding: 10px 20px;
    color: var(--primary-color);
    display: flex;
    height: 40px;
    justify-content: space-between;
}
.modal-content .topbar .close{
    font-size: 20px;
}
.modal-content .icon{
    right: 10px;
    top: 50%;
}
.modal-content .icon:hover{
    transform: scaleY(1.5);
}
.modal-content .close:hover{
    font-size: 25px;
    color: var(--secondary-color);
}

.modal-content .tt-hld{
    width: 150px;
}
.modal-content .nm-hld{
    width: 450px;
}
.modal-content .form-control{
    padding: 10px 10px;
    gap: 10px;
    justify-content: space-between;
}
.modal-content button{
    border-radius: 0;
    justify-self: end;
}
.modal-content .inst{
    width: 40px;
    height: inherit;
    color: var(--light-color);
}
.modal-content .inst-hld{
    width: 100%;
    height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid var(--secondary-colo)r;
    justify-content: start;
    gap: 1px;
}
.dropdown li{
    list-style: none;
    padding: 10px 10px;
}
.dropdown li:hover{
    background-color: rgb(175, 170, 170);
}
.dropdown{
    display: none;
    background-color: var(--light-color);
    box-shadow: -1px 0px 20px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: inherit;
}
.activeDrop{
    display: block;
}
.tab-holder{
    border-bottom: 1px solid rgb(172, 165, 165);
    margin-left: 10px;
}
.tab-holder button{
    background-color: #f4f4f4;
    color: var(--primary-color);
    border: none;
}
.tab-holder .on{
    border-bottom: 2px solid var(--primary-color);
 
}
/* Padding */
.py-1{
    padding: 5px 5px;
}
.py-2{
    padding: 10px 10px;
}
/* Gap */
.gp-1{
    gap: 5px;
}
/* Margin */
.my-1{
    margin: 5px 5px;
}