<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, width=device-width">

  <link rel="stylesheet" href="static/style/style.css">
  <link rel="stylesheet" href="static/style/utilities.css">
  <script src="static/script/script.js"></script>

  <title>Scheduling Program: {% block title %}{% endblock %}</title>
</head>

<body>



  {% if session %}
  <div class="navbar">
    <div class="container flex">
      <h3>Scheduling Program</h3>
      <div class="flex">
        <nav>
          <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/data">Data</a></li>
            <li><a href="/schedules">Schedules</a></li>
            <li><a href="/logout">Logout</a></li>


          </ul>
        </nav>
        <svg fill="none" height="40" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z">
          </path>
        </svg>
        <div class="navbox block py-1">
          <div class="py-2">
            <h3>{{session["firstname"]}} {{session["lastname"]}}</h3>

          </div>
          <div class="py-1 flex">
            <span class="color-grey">@{{session['username']}}</span>

          </div>



        </div>


      </div>



    </div>
  </div>
  {% else %}
  <div class="navbar">
    <div class="container flex">
      <h3>Scheduling Program</h3>

      <nav>
        <ul>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </div>
  </div>
  {% endif %}
  </div>
  </div>
  </nav>



  <main class="container-fluid py-5 text-center">
    {% block main %}{% endblock %}
  </main>



</body>

</html>